llm_verification_v2/740_f13_midterm2_solutions.json
json_comparison.py
extracted_problems/digitaltechnik-s19-en-sol/Problem_9.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_8.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_7.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_6.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_5.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_4.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_3.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_2.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_12.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_11.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_10.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_1.pdf
__pycache__/text_extraction.cpython-312.pyc
llm_verification_v2/740_f13_midterm2_solutions.json
json_comparison.py
extracted_problems/digitaltechnik-s19-en-sol/Problem_9.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_8.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_7.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_6.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_5.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_4.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_3.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_2.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_12.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_11.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_10.pdf
extracted_problems/digitaltechnik-s19-en-sol/Problem_1.pdf
__pycache__/text_extraction.cpython-312.pyc
